<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>269904920926-h2285gf8mar8p9l6ggmk1k7ieo9st19o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.269904920926-h2285gf8mar8p9l6ggmk1k7ieo9st19o</string>
	<key>API_KEY</key>
	<string>AIzaSyAQCQpOd79FhIpK_5GTMys4TBHhInxwUMk</string>
	<key>GCM_SENDER_ID</key>
	<string>269904920926</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>dev.simonit.easycv</string>
	<key>PROJECT_ID</key>
	<string>simon-easy-cv</string>
	<key>STORAGE_BUCKET</key>
	<string>simon-easy-cv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:269904920926:ios:e2d8443ae971c132688fcf</string>
	<key>DATABASE_URL</key>
	<string>https://simon-easy-cv.firebaseio.com</string>
</dict>
</plist>